global !p
from snippet_helpers import *
endglobal

# DOM

snippet div "<div>" b
<div$1>
	${0:${VISUAL}}
</div>
endsnippet

snippet des "describe() block" b
describe('${1}', () => {
  ${0:${VISUAL}}
});
endsnippet

snippet bef "beforeEach() block" b
beforeEach(() => {
  ${0:${VISUAL}}
});
endsnippet

snippet aft "afterEach() block" b
afterEach(() => {
  ${0:${VISUAL}}
});
endsnippet

snippet it "it() block" b
it('${1}', () => {
  ${0:${VISUAL}}
});
endsnippet
